{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/dotka.RTElL.png'%}" alt="logo">
        <span class="logo">doTka.ua</span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Main</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-book"></i> About us</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> Contact</li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
